<div class="banner">
  <img src="/app/images/gaelle-marcel-wPOV0W7ykxE-unsplash.jpg" class="background image">
  <div class="container">
    <h1>CookIn</h1>
    <p>Who doesn’t love home-cooking? Enjoy deliciously prepared meals without ever having to leave the comfort of your home.</p>
    <%= link_to "Browse Meals", "#", class: "btn btn-ghost" %>
  </div>
</div>
