<div class="banner">
  <!-- <img src="../app/assets/images/gaelle-marcel-wPOV0W7ykxE-unsplash.jpg" > -->
  <div class="background-image" alt="chef">
    <div class="text">
      <h1>CookIn</h1>
      <p class="question">Who doesn’t love home-cooking?</p>
      <p class="">Enjoy deliciously prepared meals without ever having to leave the comfort of your home.</p>
    </div>
    <div class="browse">
      <a href="https://cook-in.herokuapp.com/meals" class="button1">Browse Meals</a>
<!--       <button class="browse-meals">Browse Meals</button>
 -->    </div>
</div>


</div>
